{% extends "layout.html" %} {% block content %}

<div class="card-body d-flex flex-column align-items-center">
  <form method="POST" action="">
    <div class="container">
      <!-- Adds a csrf token -->
      {{ form.hidden_tag() }}
      <div class="row mb-4">
        <div class="col-md-12 text-center">
          {% if title %}
          <h3>{{ title }}</h3>
          {% endif %}
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-md-6">
          {{ form.document.label(class="form-control-label") }} {% if
          form.document.errors %} {{ form.document(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.document.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.document(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="col-md-6">
          {{ form.content.label(class="form-control-label") }} {% if
          form.content.errors %} {{ form.content(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.content.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.content(class="form-control form-control-lg") }} {%
          endif %}
        </div>
        <div class="col-md-12 text-center">
          {{ form.submit(class="btn btn-primary w-100") }}
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock content %}
